div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  color: white;
}

.floorplan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper-half,
.lower-half {
  display: flex;
}

.upper-left {
  display: flex;
}

.bedroom {
  background-color: rgb(37	105	138);
}

.kitchen {
  background-color: rgb(209	152	76);
}

.oven-sink {
  display: flex;
}

.oven {
  background-color: rgb(171	70	50);
}

.sink {
  background-color: rgb(121	82	48);
}

.bath {
  background-color: rgb(92	124	68);
}

.living {
  background-color: rgb(171	155	133);
}

